pkgbase = tmpfedora
	pkgdesc = Part of the tmplinux suite. Temporary Fedora
	pkgver = 1.0.0
	pkgrel = 2
	url = https://github.com/TheOddCell/tmpfedora
	arch = any
	license = MIT
	depends = bash
	depends = dnf5
	depends = shadow
	depends = util-linux
	depends = systemd
	depends = squashfs-tools
	source = tmpfedora
	sha256sums = SKIP

pkgname = tmpfedora
